@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.footer
  background-color: $neutral-dark

  &__wrap
    display: flex
    align-items: flex-start
    justify-content: space-between

  .subscription,
  &__wrap
    box-sizing: border-box
    padding-block: 40px
