@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.header
  background-color: $neutral-dark
  position: fixed
  z-index: 1000
  top: 0
  left: 0
  right: 0
  box-sizing: border-box
  padding-block: 15px
  transition: top .6s ease-in-out

  &.out
    top: -100%
    transition: top .6s ease-in-out
    +screen($tablet)
      top: 0

  &__wrap
    display: flex
    justify-content: space-between
    align-items: center

    .navigation
      +screen($tablet)
        display: none

      &__wrap
        grid-column-gap: 60px

      &__item
        position: relative
        cursor: pointer

        &-title
          position: relative
          z-index: 2
          +font(18px, 24px)
          box-sizing: border-box
          padding-block: 9px
          padding-inline: 20px 40px

          &::after
            content: ''
            position: absolute
            right: 18px
            top: 50%
            width: 12px
            height: 6px
            background: url(../assets/img/svg/arrow.svg) no-repeat center/contain
            transition: transform .3s filter .3s

        &-list
          position: absolute
          z-index: 1
          top: 0
          left: 0
          min-width: 100%
          opacity: 0
          visibility: hidden
          pointer-events: none
          transition: opacity .3s
          box-sizing: border-box
          padding: 55px 20px 20px

          a
            +font(16px, 20px)
            transition: font-weight .3s

            &:hover
              transition: font-weight .3s
              font-weight: bold

          li:not(:last-child)
            margin-block-end: 14px

        &:hover .navigation__item
          &-list
            opacity: 1
            visibility: visible
            pointer-events: all
            transition: opacity .3s
            border-radius: 8px
            background: $light

          &-title,
          &-list a
            color: $base

          &-title
            font-weight: bold

            &::after
              transform: rotate(180deg)
              filter: invert(1)
              transition: transform .3s filter .3s

    .social-links
      +screen($tablet)
        display: none

      &__icon
        height: 20px

        &:not(:last-child)
          margin-inline-end: 30px
