@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.burger
  position: absolute
  top: calc(50% - 8px)
  right: 24px

  &__icon
    position: relative
    z-index: 2
    cursor: pointer
    height: 16px
    display: flex
    flex-direction: column
    justify-content: space-between

    &-line
      height: 2px
      width: 27px
      background-color: $light
      border-radius: 2px
      transition: transform .3s, opacity .3s, width .3s

  .logo
    letter-spacing: 4%

    &__img
      display: none

  &__menu
    opacity: 0
    visibility: hidden
    pointer-events: none
    position: fixed
    z-index: 1
    left: 0
    top: -100%
    right: 0
    bottom: 0
    background: $neutral-dark
    transition: top .3s
    box-sizing: border-box
    padding: 20px

    &-wrap
      height: 100%
      display: flex
      justify-content: space-between
      align-items: center

    .navigation
      &__wrap
        flex-direction: column

      &__item
        margin-block-end: 20px

        &-title
          +font(22px, 28px)
          margin-block-end: 12px

        &-list
          a
            +font(16px, 20px)
            color: $neutral

          li
            margin-block-end: 12px

  .social-links
    display: flex
    flex-direction: column
    grid-row-gap: 110px

    &__icon
      position: relative

      &:not(:last-child)::after
        content: ''
        position: absolute
        height: 60px
        width: 1px
        background-color: $light
        top: 46px
        left: 12px

  &.active .burger
    &__icon-line
      width: 31px
      &:nth-child(2)
        opacity: 0
        transition: opacity .3s

      &:first-child
        transition: transform .3s
        transform: rotate(40deg) translate(35%, 0%)

      &:last-child
        transition: transform .3s
        transform: rotate(-40deg) translate(35%, 0%)

    &__menu
      top: 0
      opacity: 1
      visibility: visible
      pointer-events: all
      transition: top .3s
