@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.chart
  display: flex
  justify-content: space-between
  align-items: flex-start

  &__numbers
    position: relative
    z-index: 1

    &-item
      font-weight: 700
      +font(18px, 24px)
      position: relative

      &::after
        content: ''
        position: absolute
        left: calc(100% + 11px)
        max-width: 930px
        width: 60vw
        height: 2px
        display: flex
        top: 14px
        background: url(../assets/img/svg/line.svg) repeat 0 0/100% auto

      &:not(:last-child)
        margin-block-end: 62px

  &__graph
    position: relative
    z-index: 2

    svg
      margin-block-end: 40px

    &-steps
      +font(16px, 20px)
      color: $neutral-light
      letter-spacing: 2.3px

  &__names
    margin-block-start: 10px

    &-item
      display: flex
      align-items: center
      +font(18px, 24px)

      &:not(:last-child)
        margin-block-end: 20px

      &-color
        display: inline-block
        width: 18px
        height: 18px
        border-radius: 4px
        background: #7e8bff
        margin-inline-end: 14px

      &:nth-of-type(1) .chart__names-item-color
        background: #262626

      &:nth-of-type(2) .chart__names-item-color
        background: #373737

      &:nth-of-type(3) .chart__names-item-color
        background: #484747

      &:nth-of-type(4) .chart__names-item-color
        background: #5C5C5C

      &:nth-of-type(5) .chart__names-item-color
        background: #727272

      &:nth-of-type(6) .chart__names-item-color
        background: #8E8E8E

      &:nth-of-type(7) .chart__names-item-color
        background: #ACACAC

      &:nth-of-type(8) .chart__names-item-color
        background: #C9C9C9

      &:nth-of-type(9) .chart__names-item-color
        background: #D9D9D9

