@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.graph
  position: relative
  width: fit-content

  &__info
    position: absolute
    text-align: center

    &-percent,
    &-title
      font-weight: 700

    &-outside
      text-align: start

    &--ecosystem
      top: 20%
      left: 20%

      .graph__info
        &-percent
          color: $graph-dark
          +font(50px, 65px)

        &-title
          color: $graph-light
          +font(26px, 34px)

        &-text
          color: $graph-dark
          +font(18px, 22px)
