@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.graph
  position: relative
  width: fit-content

  &__info
    position: absolute
    text-align: center

    &-percent,
    &-title
      font-weight: 700

    &-percent
      +font(34px, 44px)

    &-title
      +font(20px, 26px)

    &-outside
      text-align: start
      position: absolute
      white-space: nowrap
      +font(14px, 18px)
      color: $graph-light

      b
        +font(16px, 20px)
        color: $light

      &::before,
      &::after
        position: absolute
        content: ''
        background: $neutral
        display: block
        height: 1px
        width: 110px

      &::before
        bottom: -6px

    &--ecosystem
      top: 20%
      left: 20%

      .graph__info
        &-percent
          color: $graph-dark
          +font(50px, 65px)

        &-title
          color: $graph-light
          +font(26px, 34px)

        &-text
          color: $graph-dark
          +font(18px, 22px)

    &--seed
      top: 60%
      left: 22%

      .graph__info
        &-title
          color: $graph-light

    &--team
      top: 71%
      left: 42%

    &--liquidity
      top: 68%
      left: 63%
      .graph__info
        &-title
          color: $graph-dark

    &--private
      top: 51%
      left: 80%
      .graph__info
        &-title
          color: $graph-dark

    &--public
      top: 29%
      left: 81%
      .graph__info
        &-title
          color: $graph-light

        &-outside
          top: -20px
          left: 120px

          &::before
            width: 85px

          &::after
            transform: rotate(-58deg)
            width: 75px
            left: -57px
            bottom: -38px

    &--partnerships
      top: 18%
      left: 75%

      .graph__info-outside
        top: -85px
        left: 50px

        &::before
          width: 128px

        &::after
          width: 100px
          transform: rotate(-55deg)
          bottom: -47px
          left: -78px

    &--marketing
      top: 6%
      left: 75%

      .graph__info-outside
        top: -100px
        left: 50px

        &::before
          width: 145px
          right: 0

        &::after
          width: 160px
          transform: rotate(-53deg)
          bottom: -70px
          left: -157px

    &--reserve
      top: 5%
      left: 52%

      .graph__info-outside
        top: -115px
        left: -40px

        &::before
          width: 116px

        &::after
          transform: rotate(-55deg)
          top: 88px
          left: 29px

.graph-image img
  width: 100%
  height: auto
