$font-base: "Inter", sans-serif
$font-titles: "Play", sans-serif
$font-brand: "Orbitron", sans-serif
$font-headers: "Michroma", sans-serif

// colors
$light: #FFFFFF
$base: #131313
$dark: #121212

$neutral-dark: #171717
$neutral: #4B4B4B
$neutral-light: #8E8E8E

$error: #C6685C

$gradient: linear-gradient(180deg, #222222 2%, #3A3A3A 94%)

// screen
$desktop-sm: '(max-width: 1279px)'
$tablet: '(max-width: 1024px)'
$mobile: '(max-width: 770px)'
$mobile-sm: '(max-width: 576px)'
