@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.roadmap
  background: linear-gradient(153.12deg, rgba(18, 18, 18, 0.3) -3.21%, #121212 3.46%, rgba(18, 18, 18, 0.8) 63.08%, #121212 94.32%), url(../assets/img/svg/grid.svg) repeat 0 0/100% auto
  box-sizing: border-box
  padding-block: 160px 75px

  &__title
    +font(96px, 192px)
    font-family: $font-headers
    letter-spacing: 20%

  &__subtitle
    +font(30px, 38px)
    font-family: $font-titles
    margin-block-end: 42px

  &__content
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: repeat(19, auto)
    background: url(../assets/img/svg/roadmap.svg) no-repeat 45% 19px/auto calc(100% - 19px)
    +screen($desktop-sm)
      grid-template-columns: 0 repeat(10, 1fr) 0
    +screen($tablet)
      display: block
      max-width: 500px
      margin: 0 auto

    &-item
      margin-block-end: 20px
      +screen($tablet)
        margin-block-end: 13px

      &--data
        +font(40px, 48px)
        font-weight: 700
        margin-inline-start: 20px
        +screen($tablet)
          margin-inline-start: 0

      &--chat
        position: relative
        box-sizing: border-box
        padding: 11px 13px
        +font(18px, 38px)
        background: $light
        color: $base
        border-radius: 8px

        &::before
          content: ''
          position: absolute
          bottom: 0
          display: block
          height: 8px
          width: 17px

        &:not(.dark)::before
          left: -8px
          background: url(../assets/img/svg/chat-tail.svg) no-repeat 0 0/100%

        &.dark
          color: $light
          background: $neutral

          &::before
            right: -8px
            transform: scaleX(-1)
            background: url(../assets/img/svg/chat-tail-neutral.svg) no-repeat 0 0/100%

      &:nth-child(1)
        grid-area: 1 / 4 / 2 / 6
        margin-block-end: 23px

      &:nth-child(2)
        grid-area: 2 / 6 / 3 / 9

      &:nth-child(3)
        grid-area: 3 / 5 / 4 / 8

      &:nth-child(4)
        grid-area: 4 / 4 / 5 / 8

      &:nth-child(5)
        grid-area: 5 / 6 / 6 / 10
        margin-block-end: 238px
        +screen($desktop-sm)
          margin-block-end: 140px

      &:nth-child(6)
        grid-area: 6 / 9 / 7 / 10
        margin-block-end: 56px
        +screen($desktop-sm)
          margin-block-end: 105px

      &:nth-child(7)
        grid-area: 7 / 8 / 8 / 11

      &:nth-child(8)
        grid-area: 8 / 6 / 9 / 10

      &:nth-child(9)
        grid-area: 9 / 8 / 10 / 12

      &:nth-child(10)
        grid-area: 10 / 6 / 11 / 10
        margin-block-end: 270px

      &:nth-child(11)
        grid-area: 11 / 3 / 12 / 4
        margin-block-end: 56px

      &:nth-child(12)
        grid-area: 12 / 4 / 13 / 8

      &:nth-child(13)
        grid-area: 13 / 4 / 14 / 8

      &:nth-child(14)
        grid-area: 14 / 2 / 15 / 5

      &:nth-child(15)
        grid-area: 15 / 4 / 16 / 8

      &:nth-child(16)
        grid-area: 16 / 4 / 17 / 7

      &:nth-child(17)
        grid-area: 17 / 2 / 18 / 6
        margin-block-end: 167px
        +screen($desktop-sm)
          margin-block-end: 80px

      &:nth-child(18)
        grid-area: 18 / 9 / 19 / 10
        margin-block-end: 32px
        +screen($desktop-sm)
          margin-block-end: 120px

      &:nth-child(19)
        grid-area: 19 / 8 / 20 / 11
        margin-block-end: 73px
