@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.technology
  background: $dark
  +screen($mobile)
    background: linear-gradient(178deg, rgba(18, 18, 18, 0.8) 10%, rgba(18, 18, 18, 0.8) 72%, rgba(18, 18, 18, 0.9) 93%)

  &__blockquote
    background: linear-gradient(-23deg, rgba(18, 18, 18, 0.8) 8%, rgba(18, 18, 18, 0.86) 22%, rgba(18, 18, 18, 0.9) 52%, rgba(18, 18, 18, 0.8) 75%, #121212 98%),  url(../assets/img/svg/grid.svg) repeat 0 0/105% auto, url(../assets/img/global/noisy-texture.png) repeat center/150px
    border-radius: 0 0 60px 60px
    box-sizing: border-box
    padding: 23svh 80px 75px
    min-height: 80svh
    +screen($mobile)
      padding: 15svh 0 75px
      background: url(../assets/img/global/noisy-texture.png) repeat center/150px

    .container
      +screen($mobile)
        display: flex
        flex-direction: column
        align-items: center

    &-logo
      margin-block-end: 20px

    blockquote
      quotes: "\201C""\201D""\2018""\2019"
      max-width: 475px
      width: 100%
      margin: 0 0 40px auto
      position: relative
      +screen($mobile)
        order: 4
        margin-block: 0
        margin-inline: 35px 8px
        max-width: fit-content

      &::before,
      &::after
        +font(205px, 205px)
        position: absolute
        color: $neutral
        opacity: 0.3
        +screen($mobile)
          +font(50px, 50px)
          opacity: 0.6

      &::before
        content: open-quote
        top: -65px
        left: -110px
        +screen($mobile)
          top: 20px
          left: -35px

      &::after
        content: close-quote
        bottom: 30px
        right: -60px
        transform: translate(0, 100%)
        +screen($mobile)
          bottom: 20px
          right: 10px

      cite
        color: $neutral-light
        font-style: italic
        font-size: 18px
        font-weight: 500

      p
        +font(24px, 38px)
        font-style: italic
        +screen($mobile)
          +font(14px, 20px)

    &-title
      font-size: clamp(42px, 5vw, 60px)
      line-height: 130%
      font-weight: 700
      color: $neutral-light
      font-family: $font-brand
      letter-spacing: 2px
      +screen($mobile)
        width: min-content
        letter-spacing: 4px
        text-align: center
        line-height: 110%
        font-weight: 900
        margin-block-end: 60px

  &__features
    padding-inline: 120px
    margin-block-end: 80px
    +screen($tablet)
      padding-inline: 0

    &:not(.noisy-bg)
      box-sizing: border-box
      padding-block-start: 120px
      +screen($tablet)
        padding-block-start: 80px

    &.noisy-bg
      padding-block: 60px 80px

    &-header
      display: flex
      justify-content: space-between
      align-items: center
      +screen($desktop-sm)
        flex-direction: column
      +screen($mobile)
        align-items: flex-start

      &-title
        font-weight: 700
        font-size: clamp(32px, 3.6vw, 56px)
        line-height: 130%
        font-family: $font-brand

        span
          color: $neutral-light

      &-text
        color: $neutral-light
        +font(20px, 30px)
        text-align: end
        max-width: 424px
        +screen($desktop-sm)
          text-align: center
        +screen($mobile)
          text-align: start
          +font(18px, 26px)

    .separate-line
      opacity: 0.5
      background: $neutral

      &--vertical
        width: 107px
        transform: rotate(90deg)
        margin-inline-start: 7%
        +screen($desktop-sm)
          display: none

      &:not(.separate-line--vertical)
        margin-inline-start: auto
        max-width: 408px
        margin-block: 80px
        +screen($mobile)
          margin-block: 20px
          width: 40%
          margin-inline-start: 0

