@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.tokenomics
  background: linear-gradient(153deg, rgba(18, 18, 18, 0.3) -3%, #121212 4%, rgba(18, 18, 18, 0.8) 63%, #121212 94%), url(../assets/img/svg/grid.svg) repeat 0 0/100% auto
  box-sizing: border-box
  padding-block: 23svh 75px
  +screen($mobile)
    padding-block: 15svh 75px
    background: linear-gradient(153deg, rgba(18, 18, 18, 0.1) 1%, rgba(18, 18, 18, 0.5) 4%, rgba(18, 18, 18, 0.8) 10%, rgba(18, 18, 18, 0.6) 60%, rgba(18, 18, 18, 0.6) 94%)

  &__title
    color: $neutral-light
    font-size: clamp(32px, 5vw, 60px)
    line-height: 130%
    margin-block-end: 15px

    span
      color: $light
      font-family: $font-brand

  &__subtitle
    color: $neutral-light
    font-size: 20px
    line-height: 126%
    max-width: 50%
    margin-block-end: 70px
    +screen($mobile)
      max-width: 100%

  &__section
    margin-block-end: 120px

    &-supertitle
      +font(16px, 20px)
      color: $neutral-light

    .separate-line
      margin-block: 14px
      width: 152px
      opacity: 0.6

    &-title
      font-size: clamp(22px, 4vw, 40px)
      line-height: 130%
      margin-block-end: 20px
      max-width: 65%
      +screen($mobile)
        max-width: 100%

    &-subtitle
      +font(20px, 26px)
      margin-block-end: 40px
      color: $neutral-light
      +screen($mobile)
        margin-block-end: 30px

    &--graph
      overflow: hidden
      box-sizing: border-box
      padding-block-start: 100px
      margin-block-start: -100px
      background: radial-gradient(34% 44% at 64% 48%, rgba(18, 18, 18, 0.9) 70%, rgba(18, 18, 18, 0.3) 96%)
      +screen($tablet)
        padding-block-start: 20px
        margin-block-start: -20px

      .tokenomics__section-title,
      .tokenomics__section-subtitle
        max-width: 45%
        +screen($tablet)
          max-width: 100%

    &--statistics
      background: linear-gradient(13deg, rgba(18, 18, 18, 0.8) 19%, #121212 38%, #121212 77%, rgba(18, 18, 18, 0.9) 87%, rgba(18, 18, 18, 0.3) 90%)

  &__blocks
    display: flex
    align-items: normal
    justify-content: space-between
    grid-gap: 20px
    margin-block-end: 20px
    +screen($mobile)
      flex-direction: column

    &-item
      background: $neutral-secondary
      border-radius: 8px
      width: 100%
      box-sizing: border-box
      padding: 40px
      display: flex
      align-items: center
      justify-content: space-between
      +screen($tablet)
        padding: 20px

      &-image
        max-width: 168px
        align-self: flex-end

      &-title
        +font(34px, 40px)
        font-weight: 700
        margin-block-end: 20px

      &-text
        +font(18px, 24px)
        color: $neutral-light

      &-type
        +font(20px, 26px)
        color: $neutral-light
        +screen($mobile)
          +font(16px, 20px)

      &-info
        +font(20px, 26px)
        font-weight: 700
        +screen($mobile)
          +font(18px, 24px)

    &--vertical
      +screen($desktop-sm)
        flex-direction: column
        align-items: center

      .tokenomics__blocks-item
        flex-direction: column
        align-items: flex-start
        justify-content: flex-start
        padding: 25px 40px 55px
        +screen($desktop-sm)
          max-width: 700px
          padding: 25px 40px
        +screen($mobile)
          padding: 20px 20px 60px 20px

        &-image
          +screen($desktop-sm)
            margin-block-end: -40px
          +screen($mobile)
             margin-block-end: -20px

    &--heroblock .tokenomics__blocks-item
      min-height: 220px
      +screen($mobile)
        min-height: 130px

      &-type
        +font(24px, 130%)
        +screen($mobile)
          font-size: 20px

      &-info
        +font(30px, 120%)
        +screen($mobile)
          font-size: 24px

  &__chart,
  &__table
    min-width: 985px
    background: $neutral-secondary
    box-sizing: border-box
    padding: 40px
    border-radius: 8px

  .graph
    margin-inline: auto 110px
    margin-block-start: -100px
    +screen($desktop-sm)
      margin-block-start: 0
    +screen($tablet)
      margin-block-start: 120px

  &__chart
    +screen($desktop-sm)
      width: 1400px

    &-wrap
      margin-block-end: 20px


  &__table
    margin-block-end: 20px

    table
      width: 100%

      td
        +font(18px, 24px)
        width: 25%
        box-sizing: border-box
        padding-block-end: 28px

        &:first-child
          font-weight: 700
