@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.about
  box-sizing: border-box
  padding-block: 120px 80px
  background:  url(../assets/img/global/about-bg.png) no-repeat center/cover
  +screen($mobile)
    padding-block: 80px

  &__supertitle
    font-size: clamp(20px, 5vw, 40px)
    line-height: 130%
    color: $neutral-light
    font-weight: 700

  &__title
    font-size: clamp(30px, 5vw, 60px)
    line-height: 130%
    font-weight: 700
    margin-block-end: 20px

  &__subtitle
    font-size: clamp(16px, 1vw, 20px)
    line-height: 130%
    color: $neutral-light
    margin-block-end: 40px

  &__video
    position: relative

    &::after
      cursor: pointer
      content: ''
      position: absolute
      background:  url(../assets/img/svg/play.svg) no-repeat center/62px
      width: 100%
      height: 100%
      left: 0
      top: 0
      +screen($mobile)
        background-size: 30px auto
