@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

html
  scroll-behavior: smooth

body
  height: 100%
  width: 100%
  font-family: $font-base
  color: $light
  min-height: 100vh
  display: flex
  flex-direction: column
  background: linear-gradient(155.27deg, #121212 33%, rgba(18, 18, 18, 0.987453) 40%, rgba(18, 18, 18, 0.8) 50.44%, #121212 60%, #121212 85%), url(../assets/img/svg/grid.svg) repeat 0 0/100% auto, $base

body, *
  &::-webkit-scrollbar
    width: 8px
    height: 8px
    background: $dark
    +screen($tablet)
      display: none

    &-thumb
      cursor: pointer
      background: lighten($base, 10%)
      border-radius: 4px
      transition: all .3s

      &:hover
        background: lighten($base, 15%)

.main
  flex: 1 1 auto
  position: relative

.container
  position: relative
  box-sizing: border-box
  width: 100%
  max-width: 1440px
  margin: 0 auto
  padding-inline: 20px

.overflow-all
  overflow: hidden

.overflow-scroll
  +screen($tablet)
    overflow-x: auto
    margin-inline-start: -20px
    box-sizing: border-box
    padding-inline: 20px
    width: calc(100% + 40px)

.overflow-scroll-desktop
  +screen($desktop-sm)
    overflow-x: auto
    margin-inline-start: -20px
    box-sizing: border-box
    padding-inline: 20px
    width: calc(100% + 40px)

a
  text-decoration: none
  color: $light

img
  max-width: 100%
  height: auto

.mobile
  display: none
  +screen($tablet)
    display: block

.mobile-sm
  display: none
  +screen($mobile)
    display: block

.desktop
  +screen($tablet)
    display: none

.desktop-sm
  +screen($mobile)
    display: none

.separate-line
  display: block
  height: 1px
  width: 100%
  background: $light

.noisy-bg
  background: url(../assets/img/global/noisy-texture.png) repeat center/150px
  border-radius: 60px
  box-sizing: border-box

input
  outline: none
  border-radius: 8px
  border: 1px solid $light
  background: $neutral-dark
  box-sizing: border-box
  padding: 14px 20px
  +font(16px, 120%)
  color: $light

  &:focus
    background: $neutral-dark

  &::placeholder
    +font(16px, 120%)
    color: $neutral
